@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playwrite+AR:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
  user-select: none;
}

:root {
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #feade2;
}
body {
  background-image: url('https://i.pinimg.com/originals/b8/50/85/b850858fed286ddb8c908510a184c9ac.gif');
  height: 100svh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.footer > p {
  padding: 30px;
}
@media only screen and (max-width: 600px) {
  body {
    height: fit-content;
  }
  footer {
    padding-bottom: 11em;
  }
}
