header {
  display: flex;
  position: relative;
  margin-top: 10px;
  height: 100px;
  margin: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header > p {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  max-width: 600px;
}
